body {
  background-color: blanchedalmond;
}
.header {
  background: none;
  border: 0;
  text-decoration: solid;
  font-size: 2rem;
  margin: 1em 25% 0.5em;
}
@keyframes learn {
  from {opacity: 0;}
  to {opacity: 1;}
 }
.button {
  border: none;
  outline: 0;
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
  content: '\02795';
}
p:after {
  content: '\02795';
  float: right;

}
.row {
  display: block;
  margin: 0.2em 25% 0;
  cursor: crosshair;
}
#hidden {
  display: none;
  overflow: hidden;
  text-align: center;
  transition: background-color 2s ease-out 100ms
}
:hover + #hidden {
  display: block;
}
.button + :hover:after {
  content: "\2796"; 
}
img {
  height: 40%;
  width: 40%;
  animation-name: learn;
  animation-duration: 2s;
}
p {
  background-color: rgb(212, 196, 171);
  border: 0.1rem solid;
  padding: 0.6rem;
  font-size: 2rem;
  margin: 0.3rem;
  width: 100%;
}
.container {
  width: 100%;
  text-align: left;
}